:root{
    --gray: hsl(229, 24%, 87%);
    --blue:  hsl(243, 100%, 62%);
    --Marine-blue: hsl(213, 96%, 18%);
    --Purplish-blue: hsl(243, 100%, 62%);
    --Pastel-blue: hsl(228, 100%, 84%);
    --Light-blue: hsl(206, 94%, 87%);
    --Strawberry-red: hsl(354, 84%, 57%);
    --Cool-gray: hsl(231, 11%, 63%);
    --Light-gray: hsl(229, 24%, 87%);
    --Magnolia: hsl(217, 100%, 97%);
    --Alabaster: hsl(231, 100%, 99%);
     --White: hsl(0, 0%, 100%);
}
body{
    height: 120vh;
    padding: 0;
   
}
main{
    background-color: var(--Light-blue);
    height: 120vh;
    width: 100vw;
    margin: -9px;
    margin-bottom: 15px;

}

.svg{
    width: 100%;
    margin-left: -7px;
    margin-top: -7px;
    padding-left: 3px;
}
.nav{
    width: 40%;
    height: 6vh;
    background-color: transparent;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    top: 10px;
    left: 120px;
}
.index{
    width: 30px;
    height: 30px;
    background-color: transparent;
    border-radius: 50%;
    border: 1px solid white;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.index:hover{
    background-color: var(--Pastel-blue);
}
footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.go-back{
    font-size: 1.2rem;
    color: var(--Purplish-blue);
}
.next-step{
    width: 100px;
    height: 35px;
    background-color: var(--Marine-blue);
    color: white;
    padding: 10px;
    margin-left: 130px;
}